{% extends 'parnik_app/base.html' %}

{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.photo %}{{ product.image.url }}{% else %}{% static 'parnik_app/images/no_image.jpg' %}{% endif %}">
        <h1>{{ product.title }}</h1>
        <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
        <p class="price">${{ product.cost }}</p>
        {{ product.description|linebreaks }}
    </div>
{% endblock %}